@font-face {
    font-family: VulfSans;
    src: url("font/VulfSansDemo-Regular.otf") format("opentype");
}

@font-face {
    font-family: VulfSans;
    font-weight: bold;
    src: url("font/VulfSansDemo-Bold.otf") format("opentype");
}

* {
  font-family: VulfSans;
}

.landing {
  background: linear-gradient(322deg, rgba(135,129,189,1) 0%, rgba(162,134,192,1) 31%, rgba(189,141,191,1) 72%, rgba(244,152,157,1) 100%);
  border-radius: 50px;
  width: 50%;
  height: 20%;
  top: 40%;
  left: 25%;
  position: absolute;
  z-index: 1000;
  transition: opacity 1s;
  text-align: center;
  padding-top: 2.5%;
}

.landingBackground {
  transform: translate(-10%, -10%);
  width: 120%;
  height: 120%;
  position: absolute;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 1s;
  z-index: 712;
}

.help {
  z-index: 10;
  overflow: hidden;
  background: linear-gradient(322deg, rgba(135,129,189,1) 0%, rgba(162,134,192,1) 31%, rgba(189,141,191,1) 72%, rgba(244,152,157,1) 100%);
  background-size: 200% 200%;
  border-radius: 25px;
  background-position: 50% 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  transition: width 0.5s, height 0.5s, transform 0.5s, background-position 0.5s;
  top: 5%;
  right: 5vh;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  cursor: pointer;
}

.settings {
  z-index: 10;
  background: linear-gradient(322deg, rgba(33,84,157,1) 0%, rgba(103,121,200,1) 49%, rgba(132,140,202,1) 76%, rgba(178,172,233,1) 100%);
  background-size: 200% 200%;
  border-radius: 25px;
  background-position: 50% 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  transition: width 0.5s, height 0.5s, transform 0.5s, background-position 0.5s, top 0.5s;
  top: 15%;
  right: 5vh;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  cursor: pointer;
}

.settings_icon {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 8px;
  right: 7px;
  transition: width 0.5s, height 0.5s, transform 0.5s;
}
.help_icon {
  width: 7px;
  height: 36px;
  position: absolute;
  top: 9px;
  right: 21px;
  transition: width 0.5s, height 0.5s;
}

.help_title {
  position: absolute;
  left: calc((100% - 20px) / 2);
  top: 8px;
  transform: translate(-50%, 0);
  color: white;
  font-size: 20px;
  transition: left 0.5s, opacity 0.5s, font-size 0.5s;
  opacity: 0%;
}

.help_text {
  text-align: left;
  margin: 60px 25px 15px 25px;
  font-size: 18px;
  color: white;
  opacity: 0%;
  transition: opacity 0.5s;
}

.settings_title {
  position: absolute;
  left: calc((100% - 50px) / 2);
  top: 8px;
  transform: translate(-50%, 0);
  color: white;
  font-size: 20px;
  transition: left 0.5s, opacity 0.5s, font-size 0.5s;
  opacity: 0%;
}

.settings_content {
  opacity: 0%;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: opacity 3s;
  transform: translate(-50%, -55%);
}

/* .text {
  font-family: monospace;
  color: white;
  font-size: 20px;
  margin: 20% 0px 20% 0px;
  padding: 20px;
  background-color: #a9ccf5;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.5s;
  /* -moz-box-shadow: inset 0 0 20px #3c4a5e;
  -webkit-box-shadow: inset 0 0 20px #3c4a5e; */
  /* box-shadow: inset 0 0 20px rgba(63, 48, 92, 0.4); */
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}

#clear:hover {
  background-color: #f4989d;
}

#mute:hover {
  background-color: #88aee3;
} */

.dropdown {
  padding: 50px 0px 50px 0px;
}

.dropdownClear {
  padding: 50px 0px 50px 0px;
}

.dropbtn {
  text-align: center;
  background: #a9ccf5;
  color: white;
  font-size: 20px;
  padding: 15px;
  border: none;
  cursor: pointer;
  transition: border-radius 0.5s, background-color 0.5s;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #88aee3;
}

#themeDropdown {
  height: 0%;
}

.dropdown-content {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
  overflow: hidden;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  transition: height 0.5s;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  font-size: 20px;
  text-align: center;
  padding: 10px 16px;
  display: block;
  cursor: pointer;
}

.dropdown a:hover {background-color: #ddd;}


.dropbtnClear {
  text-align: center;
  background: #a9ccf5;
  font-family: monospace;
  color: white;
  font-size: 20px;
  padding: 15px;
  border: none;
  cursor: pointer;
  transition: border-radius 0.5s, background-color 0.5s;
}

.dropbtnClear:hover, .dropbtnClear:focus {
  background-color: #f4989d;
}

#themeDropdownClear {
  height: 0%;
}

.dropdown-contentClear {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
  overflow: hidden;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  transition: height 0.5s;
  z-index: 1;
}

.dropdown-contentClear a {
  color: black;
  font-size: 20px;
  text-align: center;
  padding: 10px 16px;
  display: block;
  cursor: pointer;
}

.dropdownClear a:hover {background-color: #ddd;}


.show {display: block;}

  /*
  #072e65
  #7da7d9
  #8493ca
  #8781bd
  #a286c0
  #bd8dbf
  #f4989d
  #f9e6ab
  */
